@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary--light: #0f172a;
  --bg-primary--light: #fef3c7;
  --footer-image--light: url("/footer-image-light.svg");

  --text-primary--dark: #fffbeb;
  --bg-primary--dark: #0f172a;
  --footer-image--dark: url("/footer-image-dark.svg");

  --text-primary: var(--text-primary--light);
  --bg-primary: var(--bg-primary--light);
  --footer-image: var(--footer-image--light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: var(--text-primary--dark);
    --bg-primary: var(--bg-primary--dark);
    --footer-image: var(--footer-image--dark);
    color-scheme: dark;
  }
}

html[data-theme="light"] {
  --text-primary: var(--text-primary--light);
  --bg-primary: var(--bg-primary--light);
  --footer-image: var(--footer-image--light);
  color-scheme: light;
}

html[data-theme="dark"] {
  --text-primary: var(--text-primary--dark);
  --bg-primary: var(--bg-primary--dark);
  --footer-image: var(--footer-image--dark);
  color-scheme: dark;
}

body {
  color: var(--text-primary);
  background: var(--bg-primary);
}

@layer utilities {
  .bg-glass {
    background: linear-gradient(
      90deg,
      rgba(149, 163, 184, 0) 0%,
      rgba(149, 163, 184, 0.1) 30%,
      rgba(149, 163, 184, 0.1) 100%
    );
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .footer-image {
    overflow: hidden;
    position: relative;
    @apply h-16 mt-auto shrink-0;
  }

  .footer-image::before {
    content: "";
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-repeat: no-repeat;
    inset: -0.1vw;
    background-size: 100% 60px;
    background-position: 50% 100%;
    background-image: var(--footer-image);
  }

  @media (min-width: 2100px) {
    .footer-image::before {
      background-size: 100% calc(2vw + 60px);
    }
  }
}
