@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-text-light: #0f172a;
    --color-primary-bg-light: #fffbeb;
    --footer-image--light: url("/footer-image-light.svg");
    --color-primary-text-dark: #fffbeb;
    --color-primary-bg-dark: #0f172a;
    --footer-image--dark: url("/footer-image-dark.svg");
  }

  @media (prefers-color-scheme: light) {
    :root {
      --text-primary: var(--color-primary-text-light);
      --bg-primary: var(--color-primary-bg-light);
      --footer-image: var(--footer-image--light);
      color-scheme: light;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --text-primary: var(--color-primary-text-dark);
      --bg-primary: var(--color-primary-bg-dark);
      --footer-image: var(--footer-image--dark);
      color-scheme: dark;
    }
  }

  html[data-theme="light"] {
    --text-primary: var(--color-primary-text-light);
    --bg-primary: var(--color-primary-bg-light);
    --footer-image: var(--footer-image--light);
    color-scheme: light;
  }

  html[data-theme="dark"] {
    --text-primary: var(--color-primary-text-dark);
    --bg-primary: var(--color-primary-bg-dark);
    --footer-image: var(--footer-image--dark);
    color-scheme: dark;
  }

  body {
    color: var(--text-primary);
    background: var(--bg-primary);
  }
}

@layer components {
  .footer-image {
    overflow: hidden;
    position: relative;
    @apply h-16 mt-auto shrink-0;
  }

  .footer-image::before {
    content: "";
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-repeat: no-repeat;
    inset: -0.1vw;
    background-size: 100% 60px;
    background-position: 50% 100%;
    background-image: var(--footer-image);
  }

  @media (min-width: 2100px) {
    .footer-image::before {
      background-size: 100% calc(2vw + 60px);
    }
  }
}
